.backgroundImage {
    background-image: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
}
