.backgroundImage {
    background-image: url("https://www.zastavki.com/pictures/1920x1200/2019Food_Popcorn_in_a_cardboard_bag_on_a_blue_table_134716_18.jpg");
    background-size: cover;
    background-attachment: fixed;
}
